@import url("./lib/swiper.css");
@import url("./lib/swal.css");
@import url("./lib/normalize.css");

:root {
  /* --- colors --- */
  --white: #fffdf9;
  --black: #121212;

  --green-primary: #255f23;
  --green-primary-hover: #193b18;
  --green-secondary: #179612;
  --green-secondary-hover: #1e5a1c;

  --red-primary: #bb3030;
  --red-primary-hover: #912f2f;

  --orange-primary: #f7a107;
  --orange-primary-hover: #ffae00;
  --orange-secondary: #ffe6ae;
  --orange-secondary-hover: #dbc897;
  --orange-light: #fff5e0;
  --orange-light-text: #ffce77;

  --brown-primary: #403a36;
  --brown-primary-hover: #7e7d7d;
  --brown-secondary: #ccb9ad;
  --brown-tertiaty: #706158;
  --brown-dark: #25211e;
  --shadow-primary: rgba(64, 58, 54, 0.35);
  --shadow-secondary: rgba(64, 58, 54, 0.1);

  /* --- dimensions --- */
  --nav-top-desktop: 116px;
  --nav-top-mobile: 103px;
}
