@import url("./lib/swiper.css");
@import url("./lib/swal.css");
@import url("./lib/normalize.css");
@import url("./lib/react-big-calendar.css");

* {
  font-family: var(--inter);
}

:root {
  --branco: #fffdf9;
  --branco2: #fff5e0;
  --preto: #121212;
  --verde: #255F23;
  --verde-hover: #193b18;
  --verde2: #179612;
  --verde2-hover: #1e5a1c;
  --vermelho: #bb3030;
  --vermelho-hover: #912f2f;
  --cor-menu: #faeac3;
  --cor-menu-hover: #dfd5bc;
  --cor-texto: #FFCE77;
  --cor-texto-btn: #fcc465;
  --cor-begue: #FFE6AE;
  --cor-icone: #F7A107;
  --cor-icone-hover: #ffae00;
  --cor-btn-hover: #f79707;
  --marrom: #403a36;
  --marrom-hover-nav: #403a36;
  --marrom-hover: #7e7d7d;
  --marrom-2: rgb(204, 185, 173);
  --marrom-3: #706158;
  --marrom-4: #25211e;
  --shadow: rgba(64, 58, 54, 0.35);
  --shadow-2: rgba(64, 58, 54, 0.2);
}

:root {
  --inter: 'Inter';
  /* --- fonts --- */

  /* --- colors --- */
  --white: #fffdf9;
  --black: #121212;

  --green-primary: #255f23;
  --green-primary-hover: #1a4a19;
  --green-secondary: #179612;
  --green-secondary-hover: #1e5a1c;

  --red-primary: #bb3030;
  --red-primary-hover: #912f2f;

  --orange-primary: #fdad18;
  --orange-primary-hover: #d8970c;
  --orange-secondary: #ffce77;
  --orange-secondary-hover: #dbb065;
  --orange-tertiary: #ffe8b7;
  --orange-tertiary-hover: #dbc897;
  --orange-light: #fff5e0;
  --orange-light-hover: #ebdec2;

  --brown-primary: #403a36;
  --brown-primary-hover: #181615;
  --brown-secondary: #706158;
  --brown-tertiary: #be967d;
  --brown-dark: #25211e;
  --shadow-primary: rgba(60, 54, 50, 0.70);
  --shadow-secondary: rgba(64, 58, 54, 0.25);

  /* --- dimensions --- */
  --desktop-lg: 1440px;
  --desktop-md: 1280px;
  --tablet-md: 768px;
  --mobile-lg: 425px;
  --mobile-md: 375px;
  --mobile-sm: 320px;

  --nav-top-desktop: 116px;
  --nav-top-mobile: 103px;
  --padding-mobile: 1rem 1rem 2rem;
}

::selection {
  background-color: var(--orange-secondary);
  color: var(--black);
}