@media screen and (min-width: 1440px) {
    .loja {
        margin-top: var(--mt-nav) !important;
        padding: 27px 25px 27px;
        height: 80vh;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .formulario__loja {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5em;
        padding-top: 1em;
    }

    .formulario__inputs {
        width: 40vw;
        padding: 10px 1em ;
        font-weight: 600;
        color: var(--marrom-3);
    }

    .formulario__inputs::placeholder {
        font-weight: 600;
        color: var(--marrom-3);
    }

    .formulario--button {
        position: relative;
        top: 0;
        right: 0;
        width: 200px;
        transition: all .2s;
    }
    
    .formulario--button:hover {
        background: var(--verde-hover);
    }

    .loja--description {
        display: flex;
        justify-content: space-between;
    }

    .formulario__title {
        font-size: 1.25em;
    }

    .title__icon {
        font-size: 3em;
    }

    .title__titulo {
        font-size: 2em;
    }

    .formulario--loja__file {
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all .2s;
    }

    .formulario--loja__file:hover {
        background: var(--verde-hover);
    }
}