:root {
    --verde: #255F23;
    --preto: #000;
    --cor-menu: #FFF4DB;
    --cor-texto: #FFCE77;
    --cor-icone: #F7A107;
    --marrom: #403A36;
    --fonte-principal:'Inter';
}

* {
    margin: 0;
    padding: 0;
}

.barra__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;
    padding: 0 21px;
    background-color: var(--verde);
    box-sizing: border-box;
}

.link__icone {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 5px;
    height: 22px;
}

.conosco__link {
    display: flex;
    text-align: center;
    text-decoration: none;
    gap: 12px;
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.link__seta {
    width: 19px;
    height: 17px;
    margin: auto 0;
}

/*Seção do menu hamburguer*/

.navegation__menu {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 0 48px;
    background-color: var(--cor-menu);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
    position: relative;
}

.logo__ipe {
    height: 4.8em;
}

.hamburgue__button {
    background: none;
    border: none;
    font-size: 12px;
}

.button__menu {
    font-size: 2em;
}

/*Carrosel*/

.carrossel {
    z-index: 0;
}


/*Container*/

.container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: var(--cor-menu);
    padding: 10px 0 5px 0;
}

.opcoes__link {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background-color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcoes__descricao {
    margin-top: 3px;
    line-height: 18px;
    font-family: var(--fonte-principal);
    font-weight: 700;
}

.link__imagem {
    width: 34px;
    height: 34px;
}

/*Seção lojas*/

.lojas{
    background-color: var(--marrom);
    padding: 0 21px 39px;
}

.loja__container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 9px 0 ;
}

.container__titulo {
    display: flex;
    text-align: center;
    gap: 9px;
}

.titulo__texto {
    font-size: 22px;
    font-family: var(--fonte-principal);
    font-weight: 700;
    color: var(--cor-menu);
}

.titulo__icone {
    width: 28px;
    height: 26px;
}

.container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-menu);
    gap: 11px;
    margin-top: -10px;
}

.loja__container .link__imagem {
    width: 16px;
    height: 12px;
}

.link__titulo {
    font-size: 17px;
    font-weight: 600;
}

.carrossel__lojas .loja__imagem {
    border-radius: 12px;
}