/* Resoucoes desltop (1280 - 1920)*/

/* Config() */
@import url("../../../assets/styles/config.css");


@media screen and (min-width: 1279px) {    
    .greeting__text {
        margin: 0;
        font-size: 16px;
        color: var(--orange-light-text);
        font-weight: 500;
        display: block;
    }

    .nav-bar {
        padding: 0 72px !important;
    }

    .nav-bar__logo {
        width: 80px;
        height: 80px;
    }
    
    .menu__links {
        font-size: 18px;
    }

    .menu__actions {
        border-radius: 12px;
        background-color: var(--orange-secondary);
        border: 1px solid var(--shadow-secondary);
    }

    .header-bar__trabalhe:hover {
        color: var(--orange-light-text);
    }

    .social__icon:hover {
        text-decoration: none;
    }
    .menu__link {
        transition: all .2s;
    }

    .menu__link--nav:hover {
        color: var(--brown-primary-hover-nav);
    }

    .actions__login, .actions__register {
        transition: all .2s;
    }

    .actions__login:hover {
        background-color: var(--orange-light-text);
        color: var(--brown-primary);
    }

    .actions__register:hover {
        background-color: var(--cor-btn-hover);
        color: var(--brown-primary);
    }

}
