/* Resoluçoes mobile (320 - 520)*/

/* Config() */
@import url("../../../assets/styles/config.css");


.header-bar__social {
    display: flex;
    align-items: center;
    gap: 12px;
}


.social__icon {
    font-size: 1.35em;
    color: var(--cor-texto);
}

.greeting__text {
    display: none;
}

.header-bar__trabalhe {
    display: flex;
    align-items: center;
    font-size: 0.95em;
    color: var(--cor-texto);
    font-weight: 600;
    text-decoration: none;
    transition: all .1s;
}

.trabalhe__icon {
    font-size: 1.3em;
    margin-left: 4px;
    transition: all .1s;
}


/* Barra de navegacao */
.nav-bar-container {
    display: flex;
    width: 100%;
}

.nav-bar {
    background-color: var(--cor-menu);
    z-index: 999;
    box-shadow: 0 0 8px var(--shadow);
}

.nav-bar__logo {
    height: 3.35em;
    padding: 0;
}

.menu__links {
    margin-top: 1px;
}


.menu__link__icon {
    font-size: 1.15em;
}

:is(.menu.show, .menu.collapsing) .menu__link {
    border: 1px solid var(--marrom-2);
    margin-top: -1px;
    color: var(--marrom);
}


.actions__btn {
    border-radius: 8px;
    border: 1px solid var(--shadow-2);
    filter: drop-shadow(2px 2px 3px var(--shadow-2));
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 40px;
}


.actions__login {
    background-color: var(--cor-texto);
}

.actions__register {
    background-color: var(--cor-icone);
}