@import url("../../../assets/styles/config.css");

footer {
    padding: 12px;
    background-color: var(--brown-primary);
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bar {
    display: flex;
    justify-content: space-evenly;
}

.social__items {
    display: flex;
    gap: 20px;
}

.item__link {
    z-index: 9;
}

.link__icon {
    font-size: 1.7em;
    color: var(--orange-secondary);
}

.logo__imagem {
    width: 120px;
    height: 109px;
}

.footer__link {
    color: var(--orange-tertiary);
    text-decoration: none;
    font-weight: 400;
    padding: 4px 10px;
    border-radius: 8px;
}

.footer__separator {
    height: 3px;
    background-color: var(--orange-tertiary);
    margin: 9px 0 20px;
}

.info__meta {
    color: var(--orange-tertiary);
    margin-bottom: 1em;
}

.info__data {
    font-size: 14px;
}

.data__elementos-horarios {
    display: flex;
    align-items: center;
}

.data__trabalho,
.data__horarios {
    margin-bottom: .8em;
}

.data__icon {
    font-size: 1.5rem !important;
    color: var(--orange-secondary);
}

.data__title {
    margin: 0 !important;
}

.data__elementos-horarios,
.data__endereco,
.data__trabalho {
    display: flex;
    align-items: center;
    gap: 12px;
}

.data__text {
    text-decoration: none;
    font-size: 1rem;
    color: var(--orange-tertiary);
}

.data__link {
    text-decoration: none;
    color: var(--orange-tertiary);
    font-size: 1rem;
    border-bottom: 1px solid var(--orange-tertiary);
}

.data__title {
    font-size: 1rem !important;
}

.data__title,
.data__list {
    color: var(--orange-tertiary);
}

.data__list {
    margin-left: 32px !important;
}

.item-negrito {
    color: var(--orange-secondary);
    font-weight: 500;
}

.item-negrito--hora {
    font-weight: 700;
}

.data__maps {
    padding-top: 16px;
}

.mapa {
    border-radius: 24px;
}

.info__sloga {
    text-align: left;
    font-weight: 600;
    color: var(--orange-tertiary);
    margin: 10px 0 0 0;
    display: none;
}

.sloga-desktop {
    text-align: left;
    font-weight: 600;
    color: var(--orange-tertiary);
    margin: 10px 0 0 0;
    text-align: center;
}