@import url("../../../assets/styles/config.css");


.home-lojas {
    width: 100%;
    /*A margin top de cada section deve ser a altura da nav */
    margin-top: var(--nav-top-desktop);
}

.lojas__navegation {
    padding: 4px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegation-lojas {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--brown-primary);
}
.navigation__button {
    background-color: var(--green-primary) !important;
    border: 1px solid var(--shadow-primary) !important;
    color: var(--orange-light-text) !important;
    margin-left: 8px;
}
.navegation-lojas__icons {
    font-size: 30px;
}

.navegation-lojas__title {
    font-size: 26px;
    font-weight: 600;
}
/*Cards das lojas*/
.lojas__estabelecimento {
    display: flex;
    width: 100%;
    justify-content: center;
}

.estabelecimento__container {
    padding: 8px;
    width: 100%;
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
    padding-top: 18px;
}
