@media  screen and (min-width: 1440px) {
    .estabelecimento__container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .estabelecimento__card {
        width: 320px;
        height: auto;
    }
    .card-imagem {
        height: 260px;
    }
    
    .card-buttons {
        padding: 20px 8px 8px;
        gap: 12px;
    }

    .card-btn--ver {
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.0em;
        padding: 8px;
    }

    
    .card-btn--whatsapp {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-btn--whatsapp__icon {
        font-size: 1.75em;
    }

    .card-title {
        font-weight: 600;
    }

    .card-description {
        font-size: 1.1em;
    }

    .card-btn--ver, .card-btn--whatsapp {
        transition: all .2s;
    }

    .card-btn--ver:hover {
        color: var(--brown-primary);
        background: var(--orange-primary-hover);
    }

    .card-btn--whatsapp:hover {
        color: var(--orange-light-text);
        background: var(--green-secondary-hover);
    }
}