@import url("../../assets/styles/config.css");

/* Deixa as bolinhas ficarem laranjas */
.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target].active {
    background-color: var(--cor-icone) !important;
}

/* Config do inicio */
.carousel-inicio__item {
    height: 312px;
    width: 100%;
}

.carousel-inicio__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Config dos cards */
.cards {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-menu);
    padding: 12px 0;
}

.cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__box {
    width: 80px;
    height: 80px;
    border-radius: 12px;
    background-color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.card__description {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 16px;
    font-weight: 700;
    width: 100px;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__icon{
    font-size: 2em;
    color: var(--cor-icone);
}

#lojas {
    padding: 12px 16px;
    background-color: var(--marrom);
}

.lojas--container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 9px 0;
}

.lojas__title--container {
    display: flex;
    text-align: center;
    gap: 9px;
}

.lojas__title {
    font-size: 22px;
    font-weight: 700;
    color: var(--cor-menu);
}

.lojas__title--icon {
    font-size: 1.4em;
    color: var(--cor-icone);
}

.container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-menu);
    gap: 11px;
    margin-top: -10px;
}

.loja__container .link__imagem {
    width: 16px;
    height: 12px;
}

.link__titulo {
    font-size: 17px;
    font-weight: 600;
}


.carrossel__botao {
    display: none;
}
.carrossel__lojas .lojas__carrossel {
    width: 100%;
    height: 212px;
}

#lojas__imagem {
    background-size: cover;
}

/* Config do carousel das lojas */
.lojas__carousel {
    border-radius: 12px;
    overflow: hidden;
}
.lojas__carousel__item {
    height: 280px;
    width: 100%;
}

.lojas__carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}