@import url("../../../assets/styles/config.css");

.demandas {
    margin-top: var(--nav-top-desktop);
    padding: 1em .5em 2em;
}

.demandas__title {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 1em;
}

.title__icon {
    font-size: 1.6em;
    color: var(--brown-primary);
}

.title__text {
    margin: 0;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--brown-primary);
}

.demandas__cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
}