@media screen and (min-width: 1440px) {

    .home-eventos {
        padding: 32px 42px 56px;
        margin-bottom: 0;
    }

    .navegation-eventos__icons {
        font-size: 2.2em;
    }

    .navegation-eventos__title {
        font-size: 2em;
    }

    .eventos__navegation__btn {
        display: none;
    }
    
    .eventos__navegation__search::placeholder {
        background-image: url("../../../assets/images/search.svg");
        background-repeat: no-repeat;
        background-size: 1.3em;
        background-position: 8px;
        text-align: center;
    }

    .eventos__navegation__search {
        display: block;
        background-color: var(--orange-secondary);
        margin: 0;
        border: none;
        border-radius: 8px ;
        border: 1px solid  var(--brown-tertiaty);
        padding: 4px 3px;
        outline: none;
    }

    .eventos__infor {
        display: flex;
        align-items: top;
        justify-content: space-evenly;
        gap: 2em;
        padding-top: 2em;
    }

    .infor__calendar {
        height: 550px;
        width: auto;
        margin-top: 2em;
    }

    .infor-eventos__title {
        padding: 0;
        gap: 11px;
        margin-top: 2em;
    }
    
    .eventos__navegation {
        padding: 0;
    }

    .infor-eventos-card {
        gap: 16px;
    }

    .title__icon {
        font-size: 2em;
    }

    .title__nome {
        font-size: 2em;
    }

    .comunicados--formulario, .eventos--formulario {
        padding-bottom: 2em;
    }
}