@import url("../../assets/styles/config.css");

footer {
    padding: 12px;
    background-color: var(--marrom);
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bar {
    display: flex;
    justify-content: space-evenly;
}

.social__items {
    display: flex;
    gap: 18px;
}

.link__icon {
    font-size: 1.9em;
    color: var(--cor-texto);
}

.logo__imagem {
    width: 120px;
    height: 109px;
}

.footer__link {
    color: var(--cor-menu);
    text-decoration: none;
    font-weight: 400;
    padding: 4px 10px;
    background-color: var(--marrom-3);
    border-radius: 8px;
}

.footer__separator {
    height: 3px;
    background-color: var(--cor-menu);
}

.info__meta {
    color: var(--cor-menu);
}

.data__elementos-horarios {
    display: flex;
    align-items: center;
    gap: 7px;
}

.data__icon {
    width: 19px;
    height: 19px;
}