/* Resoluçoes mobile (320 - 520)*/

/* Config() */
@import url("../../../assets/styles/config.css");


.auth__form {
  padding: 0;
  width: 100%;
}

.auth__image {
  width: 120px;
  height: fit-content;
  object-fit: cover;
}

.auth__label {
  margin-top: 8px;
}

.auth__group {
  display: flex;
  width: 100%;
  gap: 8px;
}
.auth__group__item {
  width: 100%;
}

.auth__input {
  width: 100%;
  background-color: var(--orange-secondary) !important;
}

.auth__submit {
  width: 100%;
  margin-top: 24px;
  background-color: var(--green-primary) !important;
  border: 1px solid var(--shadow-secondary) !important;
  padding: 8px 0 !important;
}

