@media screen and (min-width: 1279px) {
  .home-eventos {
    padding: 32px 42px 64px;
    margin-bottom: 0;
  }

  .navegation-eventos__icons {
    font-size: 2.25em;
  }

  .navegation-eventos__title {
    font-size: 2em;
    margin-left: 4px;
  }

  .eventos__navegation__btn {
    display: none;
  }

  #eventos__navegation__search {
    display: none;
  }

  .eventos__infor {
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    gap: 2em;
    padding-top: 2em;
  }

  .infor__calendar {
    height: 550px;
    width: auto;
  }

  .infor-eventos__title {
    padding: 0;
    gap: 11px;
  }

  .eventos__navegation {
    padding: 0;
  }

  .infor-eventos-card {
    gap: 16px;
  }

  .title__icon {
    font-size: 2em;
  }

  .title__nome {
    font-size: 2em;
  }
}