@media screen and (min-width: 1279px) {
  #eventos-view {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 4rem;
    padding: 42px 0;
  }

  .eventos {
    width: 600px;
  }

  .eventos__title {
    justify-content: flex-start;
  }

  .eventos__agenda {
    height: 500px;
  }

  .comunicados {
    width: 600px !important;
    gap: 0 !important;
  }
}