@import url("../../../assets/styles/config.css");

@media screen and (min-width: 1279px) {
  .loja {
    display: grid;
    grid-template-columns: 5fr 2fr;
    position: relative;
    max-width: 100vw;
    height: fit-content;
  }

  .loja__sobre {
    padding: 42px 0 24px;
    width: 800px;
    grid-column: 1;
    margin: 0 auto;
  }

  .sobre__carousel {
    width: 100%;
  }

  .carousel__item {
    height: 500px;
  }

  .sobre__title {
    font-size: 32px;
  }
  .sobre__slogan {
    margin-bottom: 24px;
  }

  .loja__data {
    padding: 56px 42px 42px;
  }
  .data__logo {
    width: 180px;
    height: 180px;
  }

  .data__title {
    font-size: 32px;
  }

  .data__slogan {
    margin-bottom: 42px;
  }

  .data__item-title {
    font-size: 22px;
  }
}