@media screen and (min-width: 1440px) {
    .content-box {
        margin-top: 116px;
    }

    /*Carrosel*/
    .carousel-inicio {
        height: 60vh;
        width: 100%;
    }
    .carousel-inicio__item {
        width: 100%;
        height: 100%;
    }
    .carousel-inicio__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    

    /*Cards*/
    .cards {
        display: flex;
        flex-wrap: wrap;
        padding: 64px 0;
        justify-content: center !important;
        gap: 64px;
    }

    .cards__card {
        width: 432px;
        height: 234px;
        background-color: var(--verde);
        border-radius: 12px;
        flex-direction: row;
        padding: 16px 22px;
        align-items: start;
        flex-direction: column;
    }

    .card__description {
        display: none;
    }

    .card__box {
        display: flex;
        justify-content: left;
        width: 100%;
        height: auto;
        gap: 12px;
        margin-bottom: 0;
    }

    .card__description-desktop {
        font-size: 32px;
        font-weight: 700;
        margin: 0;
        color: var(--branco);
    }

    .card__sobre {
        display: flex !important;
        flex-direction: column;
        height: 100% !important;
    }

    .sobre__button {
        display: flex;
        align-items: center;
        bottom: 0;
        font-size: 18px;
        color: var(--preto);
        font-weight: 500;
        text-decoration: none;
        background-color: var(--cor-icone);
        padding: 10px 20px 10px 30px;
        border-radius: 12px;
        box-sizing: border-box;
        gap: 12px;
        width: fit-content;
        margin-left: auto;
    }

    .button__icon {
        font-size: 22px;
        font-weight: 800;
    }

    .sobre__text {
        font-size: 20px;
        margin-top: 12px;
        color: var(--branco);
        margin-bottom: auto;
    }

    .card__description-desktop {
        display: block;
    }

    .card__sobre {
        display: block;
    }

    /* Lojas */

    #lojas {
        padding: 26px 64px 48px;
    }

    .lojas--container {
        margin-bottom: 12px;
    }

    .lojas__title--icon {
        font-size: 2em;
    }

    .lojas__title {
        font-size: 1.75em;
    }

    .lojas__carousel__item {
        height: 380px !important;
    }

    .lojas__carousel__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }

    #eventos {
        display: flex;
        justify-content: center;
        gap: 44px;
        height: 700px;
        padding: 72px 143px 73px;
        padding: 72px 0 calc(700px - (72px + 520px)) 0;
    }

    .title__agenda {
        display: none;
    }

    .agenda {
        padding: 0;
        background: var(--branco);
        height: 520px;
    }

    .eventos-right {
        order: 1;
        height: 100%;
    }

    .eventos-left {
        height: 520px;
        order: 2;
        position: relative;
        top: 0;
    }

    .container__title {
        font-size: 1.75em;
    }

    .container__calendario {
        font-size: 2em;
    }

    .calendario__imagem {
        width: 635px;
        height: 555px;
    }

    .eventos__carousel__item,
    .eventos__carousel {
        width: 470px;
        height: 314px;
    }

    .eventos__carousel__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .descricao__text {
        width: 474px;
        font-size: 19px;
        margin-bottom: 26px;
        margin: 0;
    }

    .container__action {
        margin-bottom: 30px;
        margin: 19px 0;
        font-size: 20px;

    }

    .descricao__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 7px;
        color: var(--marrom-3);
        font-weight: 600;
        font-size: 18px;
        margin: 20px 0 29px;
    }

    .link__title {
        border-bottom: 2px solid var(--marrom-3);
    }

    .container__link, .descricao__link {
        transition: all .2s;
    }

    .container__link:hover {
        color: var(--cor-menu-hover);
    }

    .descricao__link:hover {
        color: var(--marrom-hover);
    }

    .sobre__button {
        transition: all .4s;
    }
    
    .sobre__button:hover {
        color: var(--preto);
        background: var(--cor-btn-hover);
    }

}