.query__actions {
  height: 36px;
  display: flex;
  gap: 8px;
}

.actions__search {
  display: flex;
  width: fit-content;
  background-color: var(--orange-tertiary);
  border-radius: 6px;
  overflow: hidden;
}

.search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  font-size: 1.2em;
}

.actions__search {
  border: 1px solid var(--shadow-secondary);
}

.search__input {
  width: 100px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  width: 0;
  transition: 300ms;
}
.search__input.active {
  width: 100px;
  padding-right: 6px;
}

.actions__select {
  width: fit-content;
  display: flex;
  background-color: var(--orange-tertiary);
  height: 36px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid var(--shadow-secondary);
}

.select__icon {
  min-width: 36px;
  width: 36px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
}

.select__filter {
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  font-size: 14px;
  width: 0;
  transition: 300ms;
}
.select__filter.active {
  width: 100px;
}