
.estabelecimento__card {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--cor-menu);
    border: 1px solid var(--shadow);
    overflow: hidden;
}

.card-imagem {
    width: 100%;
    height: 246px;
    object-fit: cover;
}

.card-description {
    margin: 0;
    overflow: hidden;
}

.card-description, .card-title {
    padding: 5px 10px 0;
    width: 100%;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px 8px;
    gap: 8px;
    margin-top: auto;
}

.card-btn--ver {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-icone);
    width: 75%;
    border-radius: 6px;
    padding: 7px 0;
    text-decoration: none;
    color: var(--marrom);
    font-weight: 600;
    font-size: 15px;
}

.card-btn--ver__icon {
    margin-left: 7px;
    font-weight: 900;
}

.card-btn--whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde2);
    width: calc(25%);
    height: 100%;
    border-radius: 6px;
    color: var(--cor-texto);
}

.card-btn--whatsapp__icon {
    font-size: 1.3em;
}

.card-title {
    font-size: 1.7em;
    padding-top: 12px;
    font-weight: 700;
}

.card-description {
    font-size: 0.95em;
    line-height: 1.2em;
}
@media screen and (min-width: 375px) {
    .card-imagem {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    .card-description, .card-title {
        padding: 5px 10px 0;
        width: 100%;
    }
    
    .card-buttons {
        padding: 10px 8px 8px;
        gap: 8px;
    }
    
    .card-btn--ver {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--cor-icone);
        width: 75%;
        border-radius: 6px;
        padding: 7px 0;
        text-decoration: none;
        color: var(--marrom);
        font-weight: 600;
        font-size: 14px;
    }
    
    .card-btn--ver__icon {
        margin-left: 7px;
        font-weight: 900;
    }
    
    .card-btn--whatsapp {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--verde2);
        width: calc(25%);
        height: 100%;
        border-radius: 6px;
        color: var(--cor-texto);
    }
    
    .card-btn--whatsapp__icon {
        font-size: 1.3em;
    }
    
    .card-title {
        font-size: 1.6em;
        padding-top: 12px;
        font-weight: 700;
    }
    
    .card-description {
        font-size: 0.95em;
        line-height: 1.2em;
        padding-bottom: 4px;
    }
}

