@import url("../../assets/styles/config.css");

/* Barra-Header, acima da navbar */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    padding: 0 20px;
    background-color: var(--verde);
}

.header-bar__social {
    display: flex;
    align-items: center;
    gap: 12px;
}

.social__icon {
    font-size: 1.35em;
    color: var(--cor-texto);
}

.header-bar__trabalhe {
    display: flex;
    align-items: center;
    font-size: 0.95em;
    color: var(--cor-texto);
    font-weight: 600;
    text-decoration: none;
}

.trabalhe__icon {
    font-size: 1.3em;
    margin-left: 4px;
}


/* Barra de navegacao */
.nav-bar {
    background-color: var(--cor-menu);
    z-index: 999;
    box-shadow: 0 0 8px var(--shadow);
}
.nav-bar__logo {
    height: 3.35em;
    padding: 0;
}
.menu__links {
    margin-top: 1px;
}
:is(.menu.show, .menu.collapsing) .menu__link {
    border: 1px solid var(--marrom-2);
    margin-top: -1px;
    color: var(--marrom);
}

.menu__button:is(:hover) {
    background-color: var(--shadow-2);
    box-shadow: none !important;
    border: 0;
    outline: 0;
}