/* Resoluçoes mobile (320 - 520)*/

/* Config() */
@import url("../../../assets/styles/config.css");

@media screen and (min-width: 1279px) {
  #login {
    margin-top: var(--nav-top-desktop);
    padding: 42px 0;
  }
  .auth__login {
    flex-direction: row;
    width: 50vw;
    background-color: var(--orange-tertiary);
    border-radius: 12px;
    overflow: hidden;
  }
  .login__group {
    padding: 32px 24px;
    gap: 20px;
  }
}