@import url("../../../assets/styles/config.css");

.loja {
  display: flex;
  flex-direction: column;
  margin-top: var(--nav-top-desktop);
  padding: 27px 15px 27px;
}

.formulario__loja {
  padding: 12px;
  width: 100%;
}

.loja__formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.8em;
  width: 100%;
}

.formulario__title {
  margin: 0;
  font-weight: 600;
  color: var(--brown-primary);
}

.formulario__inputs {
  padding: 5px 1em;
  background: var(--orange-tertiary);
  border: none;
  border: 1px solid var(--shadow-secondary);
  border-radius: 6px;
  outline: none;
  margin-top: 4px;
  width: 100%;
  color: var(--brown-tertiaty);
}

.formulario__inputs::placeholder {
  color: var(--brown-tertiaty);
}

.formulario--loja {
  margin-top: 0.5em;
  width: 100%;
}

.formulario--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  border: none;
  width: 30%;
  max-height: 42px;
  max-width: 160px;
  min-width: 100px;
  border-radius: 6px;
  background: var(--green-primary);
  color: var(--white);
  gap: 2px;
}

.button__title {
  font-size: 1.2em;
}

.button__icon {
  font-size: 1.5em;
}

.loja--description__title {
  display: flex;
  align-items: center;
}

.loja--description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
}

.title__titulo {
  margin: 0;
  font-size: 1.6em;
}

.title__icon {
  font-size: 2em;
}

.formulario__inputs--file {
  display: none;
}

.formulario--loja__file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: var(--green-primary);
  color: var(--orange-tertiary);
  margin-top: 4px;
}
.file__icon {
  font-size: 2.2em;
}
